version: '3.9'

services:

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: users_db
    ports:
      - "5432:5432"

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"

  auth-service:
    build: ./services/auth-service
    ports:
      - "3001:3001"
    depends_on:
      - postgres
      - redis

  user-service:
    build: ./services/user-service
    ports:
      - "3002:3002"
    depends_on:
      - postgres
      - rabbitmq

  role-service:
    build: ./services/role-service
    ports:
      - "3003:3003"
    depends_on:
      - postgres

  audit-service:
    build: ./services/audit-service
    ports:
      - "3004:3004"
    depends_on:
      - mongo
      - rabbitmq

  ai-service:
    build: ./services/ai-service
    ports:
      - "3005:3005"
    depends_on:
      - qdrant
      - redis

  api-gateway:
    build: ./services/api-gateway
    ports:
      - "3000:3000"
    depends_on:
      - auth-service
      - user-service
      - role-service
      - ai-service
